
.parallax {
    font-family: 'Baloo Bhaina 2', cursive;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    min-height: 400px;
    box-shadow: 0px 10px 20px 0px #00000040 inset;
    min-height: 100%;
    margin-left: 0px;
    margin-right: 0px;
    background-color: white;
    /* opacity: 0.93; */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.parallax h1 {
    color: white;
    font-weight: lighter;
    text-shadow: 0px 0px 20px #000000;
}

.parallax p {
    color: white;
    font-weight: lighter;
    font-size: 20px;
    text-shadow: 0px 0px 20px #000000;
}